<!-- header.html -->
<header class="header">
	<div class="container">
		<div class="header-flex">
			<div class="header-left">
				<a class="header-logo">
					<img src="img/logo.svg" alt="" class="header-logo-img">
				</a>
			</div>
			<div class="header-right">
				<div class="header-right-mail mail">
					<p class="header-right-text">Написать нам:</p>
					<a href="mailto:reception@energo-stroy.org" class="mail-link">reception@energo-stroy.org</a>
				</div>
				<div class="header-right-phone phone">
					<p class="header-right-text">Написать нам:</p>
					<a href="tel:+74959847750" class="phone-link">+7 495 984 77 50 </a>
				</div>
			</div>
		</div>
	</div>
</header>